cython==0.29.22
pandas==1.2.2
requests==2.25.1
certifi==2020.12.5
cryptography==3.4.6
chardet==4.0.0
idna
azure-core==1.11.0
azure-common==1.1.26
azure-nspkg==3.0.2
azure-functions==1.10.1
azure-storage-common==2.1.0
azure-storage-nspkg==3.1.0
azure-storage-blob==12.7.1
azure-storage-file-share==12.4.1
redis==3.5.3
azure-cosmos==4.2.0
PyYAML
pytz==2021.1
asyncpg
orjson
